<!DOCTYPE html>
<html>
<body>
<p>talk record</p>
 
<table >
<form action="/input_record/" method="get">
    <tr><td>name:</td><td> <input type="text" name="names"> </td></tr>
    <tr><td>student_id: </td><td><input type="text" name="student_id"> </td></tr>
    <tr><td>record: </td><td><input type="textarea" name="record"> </td></tr>
    <tr><td>next_advice: </td><td><input type="textarea" name="next_advice"> </td></tr>
    <tr><td><input type="submit" value="提交"></td></tr>
</form>
</table>

</body>
</html>