<!DOCTYPE html>
<html lang="zn">
<head>
    <meta charset="utf-8">
    <title>Manage Message</title>
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/supersized.css">
        <link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/mdbootstrap/css/mdb.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/newstyle.css">
        <script src="assets/js/jquery-1.8.2.min.js"></script>
</head>

<body>
<div class="header"></div>


<div class="container" id="main_container" style="margin-top:70px">
        <div 
             id="list_container">
            <nav role="navigation" style="background-color:transparent">
                <div class="container-fluid">

                    <div class="navbar-header">
                    <div>
                    <p><button type="button" class="btn btn-primary" id="look_up_member_btn">查看小组成员</button>
                    <button type="button" class="btn btn-primary" id="look_up_student_btn">查看所有学生</button>
                    <button type="button" class="btn btn-primary" id="look_up_teacher_btn">查看所有老师</button>
                    </p>
                    </div>
                        <h1 class="page-header" id="list_header">Dashboard</h1>
                    </div>


                </div>
            </nav>

        </div>


</div>

<div class="footer"></div>

<!--动态导入页头页脚-->
<script>$(document).ready(function () {
    $(".header").load("header.html");
});
</script>

<script>$(document).ready(function () {
    $(".footer").load("footer.html");
});
</script>

<!-- 表格模板 -->
<script type="text/template" id="table-template">
    <table class="table table-hover" id="table1" style="background-color:#ffffff">
        <thead id="table_header">

        </thead>
        <tbody id="table_body">

        </tbody>
    </table>
    <div id="num">
        <ul class="pagination" id="table_tab">
    </ul>
    </div>

</script>
<!-- 用户表头模板 -->
<script type="text/template" id="user-table-template">
    <tr>
        <th>姓名</th>
        <th>
            证件号
        </th>
        <th></th>
        <th></th>
    </tr>
</script>
<!-- 用户项模板 -->
<script type="text/template" id="user-item-template">
    <td><%- real_name %></td>
    <td><%- id_number %></td>
    <td>
    <button id="uid_<%-uid %>" uid=<%-uid %> class="add_btn"><%- in_group ? ('移除该组'): '加入该组' %></button>
    </td>
</script>



<!-- 分页模板 -->
<script type="text/template" id="table-tab-template">
    <li><a class="tab_index" id=<%-id %>> <%-
        id%></a></li>
</script>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/supersized.3.2.7.min.js"></script>
<script src="assets/js/supersized-init.js"></script>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="assets/dist/js/bootstrap.min.js"></script>
<script src="assets/js/sort.js"></script>

<script src="assets/js/sort.js"></script>

<!-- import backbone.js -->
<script src="assets/js/config.js"></script>
<script src="assets/js/underscore.js"></script>
<script src="assets/js/backbone-min.js"></script>
<script src="assets/js/User_Model.js"></script>
<script src="assets/js/managegroup.js"></script>


</body>
<div style="text-align:center;">
</div>
</html>
